################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CM_LR1/v16
/Debug
/Release
/CM_LR1/Debug
/CM_LR1/Release
